@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --primary: #e30011;
  --secondary: #ffc53c;
  --black: #212429;
  --white: #ffffff;
  --josefin: "Josefin Sans", sans-serif;
  --ptsans: "PT Sans", sans-serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--josefin);
  font-size: 1.2rem;
  line-height: 150%;
  background-color: var(--white);
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ptsans);
  font-weight: 600;
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary i {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.floating-button {
  position: fixed;
  bottom: 17px;
  right: 0px;
  z-index: 999;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 2px 10px #858585;
}
.floating-button a {
  display: inline-block;
  font-size: 16px;
  padding: 11px 31px;
  font-weight: bold;
  color: var(--primary);
}

.header {
  padding: 14px 0;
  min-height: 90px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
.header .brand {
  width: 30%;
}
.header .brand img {
  height: 44px;
}
.header .navigations {
  width: 70%;
}
@media (max-width: 900px) {
  .header .navigations {
    display: none !important;
  }
}
.header .navigations ul {
  list-style: none;
}
.header .navigations ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}
.header .cta-button .icon-menu-1 {
  font-size: 30px;
  display: none;
}
@media (max-width: 900px) {
  .header .cta-button .icon-menu-1 {
    display: block;
  }
}

.main-banner {
  background-image: url("../images/chicken-skewers-with-slices-sweet-peppers-dill.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(179deg, rgba(39, 39, 39, 0.72), rgba(0, 0, 0, 0.93));
}

.servies .image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
.servies .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.newbanner {
  background-image: url("../images/chicken-skewers-with-slices-sweet-peppers-dill.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.newbanner .row {
  z-index: 9;
  position: relative;
}
.newbanner h1 {
  font-size: 80px;
  font-weight: 900;
}
@media (max-width: 900px) {
  .newbanner h1 {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .newbanner h1 {
    font-size: 40px;
  }
}
.newbanner h2 {
  font-size: 50px;
  font-weight: 900;
  color: red;
}
.newbanner p {
  font-size: 25px;
}
.newbanner .btn {
  color: white;
}

.food-blog .list {
  padding: 25px;
  border: 1px solid #fbfbfb;
  border-radius: 16px;
  box-shadow: 0 2px 10px #c0c0c0;
}
.food-blog .image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
.food-blog .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer1 {
  background-color: #4a4a4a;
}

.faq .accordion .accordion-item {
  background-color: transparent;
  color: white;
}
.faq .accordion .accordion-item .accordion-button {
  background-color: transparent !important;
  color: var(--white);
}
.faq .accordion .accordion-item .accordion-button:after {
  color: var(--white);
  background: var(--white);
  border-radius: 50px;
}

.extraSection .sec2p {
  font-size: 20px;
}

.footer2 {
  background-color: #222222;
}
.footer2 img {
  width: 30%;
}
.footer2 .list ul {
  list-style: none;
  padding-left: 0px !important;
}
.footer2 .list ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */